<h2>Doktor Yönetim Paneli</h2>

<table class="table">
    <thead>
        <tr>
            <th>Gün</th>
            <th>Başlangıç Saati</th>
            <th>Bitiş Saati</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var calismaSaatleri in Model)
        {
            <tr>
                <td>@calismaSaatleri.Gun</td>
                <td>@calismaSaatleri.BaslangicSaat</td>
                <td>@calismaSaatleri.BitisSaat</td>
                <td>
                    <a asp-controller="DoctorPanel" asp-action="EditCalismaSaatleri" asp-route-id="@calismaSaatleri.Id">Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>


