<h2>Çalışma Saatleri</h2>

<table class="table">
    <thead>
        <tr>
            <th>Gün</th>
            <th>Başlangıç Saati</th>
            <th>Bitiş Saati</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var calismaSaatleri in Model)
        {
            <tr>
                <td>@calismaSaatleri.Gun</td>
                <td>@calismaSaatleri.BaslangicSaat</td>
                <td>@calismaSaatleri.BitisSaat</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="CalismaSaatleri" asp-action="Ekle">Yeni Çalışma Saati Ekle</a>
